{%extends 'forall.html'%}
{%block content%}
<h2 class="todays_checkout" style="color: var(--text_color2);">Todays Checkout</h2>
<div class="today">
<div class="not_table">
    {%if database%}
<table border="1px">
    <th>Room No</th>
    <th>Room Type</th>
    <th>User Id</th>
    <th>Checkout Date</th>
    {%for data in database%}
    <tr>
        <td>{{data["Room_No"]}}</td>
        <td>{{room_type}}</td>
        <td>{{data["User_Id"]}}</td>
        <td>{{data["Check_Out"]}}</td>
   
    </tr>
    {%endfor%}

</table>
{%else%}
<h1 style="text-align: center;color: var(--text_color2);margin-top: 10%;">No Room Will Be Free Today!</h1>
{%endif%}
<div class="room_buttons">
<a href="{{url_for('notification')}}"><button class="refreshe_button">Refreshe</button></a>
</div>
<br><br>
</div>


</div>
{%endblock%}