{%extends "forall.html"%}
{%block content%}

<div class="top_image"></div>
<div class="room_h1"><h1>Events.</h1></div>
    <div class="room_text_img reveals">
        <div class="room_img">
            <div class="container-sec">
                <img src="../static/prespro.jpg" alt="" class="imgs-sec"/>
                </div>
        </div>
        <div class="room_text">
           
            <p><h1 style="text-align: center;">Meeting</h1>
                    laudantium temporibus unde, sint omnis, incidunt error. Totam, similique nisi culpa eos repellendus consequuntur facilis sit ipsa nemo minima vero animi adipisci laboriosam odit voluptatum labore, <span class="welcome-text-phone">nam dolore voluptatibus deleniti laborum. Vero rem repellat odit maiores optio non harum cum esse incidunt dicta repudiandae ut, omnis laborum autem dolore soluta, iure quibusdam tempore voluptates recusandae vitae  .</span>
                </p><br>
                <a href="{{url_for('event_booking',event_type = 'Meeting')}}"><button  class="book_button">Book Now</button></a></div>
    </div><br>
    <br><br><br>
    <hr style="width: 60%;margin-left: 20%;">
    <br><br><br>
    <div class="room_text_img reveals">
        <div class="room_img">
            <div class="container-sec">
                <img src="../static/weed.jpg" alt="" class="imgs2-sec"/>
                </div>
        </div>
        <div class="room_text">
           
            <p><h1 style="text-align: center;">Weeding</h1>
                    laudantium temporibus unde, sint omnis, incidunt error. Totam, similique nisi culpa eos repellendus consequuntur facilis sit ipsa nemo minima vero animi adipisci laboriosam odit voluptatum labore,<span class="welcome-text-phone"> nam dolore voluptatibus deleniti laborum. Vero rem repellat odit maiores optio non harum cum esse incidunt dicta repudiandae ut, omnis laborum autem dolore soluta, iure quibusdam tempore voluptates recusandae vitae  .</span>
                </p><br>
                <a href="{{url_for('event_booking',event_type = 'Weeding')}}"><button  class="book_button">Book Now</button></a></div>
    </div><br>
    <br>
    <br><br><br><br><br><br><br><br><br>
    
 

    <script >

    window.addEventListener('scroll',reveal);
        function reveal(){
        var reveals = document.querySelectorAll('.reveal')
        for (var i=0; i<reveals.length; i++){
        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;
        if(revealtop<windowheight - revealpoint){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
        }
        }
    </script>
    
{%endblock%}